# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
num_1 = 19
num_2 = 19
print("Is equal? ", num_1 == num_2)
num_1 = 100
print("Is equal after changing one? ", num_1 == num_2)

Is equal?  True
Is equal after changing one?  False

Змінні рівні тільки за значенням, адже при зміні одного друге лишається без змін.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
var = True
isinstance(var, bool)

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
whole = 30
decimal = 2.5

print("Addition:", whole, " + ", decimal, " = ", whole + decimal)
print("Subtraction:", whole, " - ", decimal, " = ", whole - decimal)
print("Multiplication:", whole, " * ", decimal, " = ", whole * decimal)
print("Division:", whole, " / ", decimal, " = ", whole / decimal)
print("Integer division:", whole, " // ", decimal, " = ", whole // decimal)
print("Modulo division:", whole, " % ", decimal, " = ", whole % decimal)
print("Power:", whole, "^", decimal, " = ", whole ** decimal)

Addition: 30  +  2.5  =  32.5
Subtraction: 30  -  2.5  =  27.5
Multiplication: 30  *  2.5  =  75.0
Division: 30  /  2.5  =  12.0
Integer division: 30  //  2.5  =  12.0
Modulo division: 30  %  2.5  =  0.0
Power: 30 ^ 2.5  =  4929.503017546495

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
print("Deciman to integer: ", decimal, " -> ", int(decimal))
var = True
print("Bool to integer: ", var, " -> ", int(var))
var = False
print("Bool to integer: ", var, " -> ", int(var))

Deciman to integer:  2.5  ->  2
Bool to integer:  True  ->  1
Bool to integer:  False  ->  0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
s1 = ""
s2 = str()

print("String one: ", s1, "\nString two: ", s2)

String one:
String two:

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
s1 = """ apostrophe' """
s2 = r" apostrophe' "

print("String one: ", s1, "\nString two: ", s2)

String one:   apostrophe'
String two:   apostrophe'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname = "Tomenko"
surname_s = "My surname is " + surname

surname_s

'My surname is Tomenko'

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
s = "My dog is crazy"
words = s.lower().split(" ")

words

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list1 = [3, 5, 0, 8]
list2 = list(range(1,5))
len(list1)

4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list1.append(list2)
list1

[3, 5, 0, 8, [1, 2, 3, 4]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
list_nested = [[2, 5], [-1], [7, -7, 0]]
l_size = len(list_nested)

list_nested[l_size - 1][0]

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
list_var = [10, True, [-5, 5], 'a', 0.7, False, "str", -3.3, {"one": 1}, [1]]
list_var2 = list_var[2:-2]

list_var2

[[-5, 5], 'a', 0.7, False, 'str', -3.3]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
tuple1 = (1,)
tuple1

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схожості: обидва використовуються для зберігання набору даних в певній послідовності, в обох доступ до елемента по індексу
Відмінності: список змінюваний, кортеж не змінюваний; список створюється квадратними дужками, а кортеж круглими
Використання: списки використовують для збереження змінних заних, а кортежі для статичних даних щоб забеспечити їх незмінність

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
tuple11 = (4.7, 2.6, 9.2, 4.6, 1.1, 0.7, 2.5, 9.9, 8.4, 1.7, 4.2)
tuple_rev = tuple11[-2::-2]

tuple_rev

(1.7, 9.9, 0.7, 4.6, 2.6)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
set1 = set()
print("Empty set:", set1)

set1.add("word")
set1.add(13)
set1.add(0.6)
print("Set with elements:", set1)

Empty set: set()
Set with elements: {'word', 0.6, 13}

Так, множини є змінним типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)

my_set

{1, 2, 8, 9, 67}

Деякі елементи "зникли", бо в множині зберігаються тільки унікальні елементи, а my_list містив дублікати значень

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
set1 = set(range(1, 5))
set2 = set(range(3, 10))

print("Set1: ", set1)
print("Set2: ", set2)
print("Union: ", set1.union(set2))
print("Intersection: ", set1.intersection(set2))
print("Difference: ", set1.difference(set2))
print("Symmetric difference: ", set1.symmetric_difference(set2))

Set1:  {1, 2, 3, 4}
Set2:  {3, 4, 5, 6, 7, 8, 9}
Union:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection:  {3, 4}
Difference:  {1, 2}
Symmetric difference:  {1, 2, 5, 6, 7, 8, 9}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
dict1 = {}
dict1[0] = 'zero'
dict1[1.0] = '1'
dict1['two'] = 2
dict1[(3,)] = 'three'

dict1

{0: 'zero', 1.0: '1', 'two': 2, (3,): 'three'}

Ні, масив не може бути ключем словника бо ключі мають бути хешованими, а масив це змінний тип даних

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [ ]:
inner_inner_dict = {1: "something"}
inner_dict = {2: inner_inner_dict}
outer_dict = {3: inner_dict}

outer_dict

{3: {2: {1: 'something'}}}

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.